/* Write your CSS here */
.events-container {
  display: flex;
  min-height: 100%;
  width: 100%;
}

.events-items-container {
  width: 60%;
  padding: 28px;
  background-color: #475569;
  background-size: cover;
  min-height: 100%;
}

.events-heading {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 32px;
}
.events-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
}
.registration-status {
  width: 40%;
  background-color: #ffffff;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
